<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="tyit" connectionString="Data Source=DESKTOP-PAQF8D6;Initial Catalog=GymTranier;Integrated Security=True"
     providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0"/>

  </system.web>
</configuration>